---
apiVersion: amd.com/v1alpha1
kind: DeviceConfig
metadata:
  name: amd-gpu-config
  namespace: openshift-amd-gpu
spec:
  selector:
    feature.node.kubernetes.io/pci-1002.present: "true"
  driver:
    enable: true
    version: "6.4.4"
  devicePlugin:
    enable: true
    enableNodeLabeller: true
